xsd/contacts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="contacts">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="c">
					<xs:complexType>
						<xs:all>
							<xs:element minOccurs="0" name="sex" type="xs:string"/>
							<xs:element minOccurs="0" name="language" type="xs:string"/>
							<xs:element minOccurs="0" name="companyName" type="xs:string"/>
							<xs:element minOccurs="0" name="firstName" type="xs:string"/>
							<xs:element minOccurs="0" name="lastName" type="xs:string"/>
							<xs:element minOccurs="0" name="email" type="xs:string"/>
							<xs:element minOccurs="0" name="birthday" type="xs:date"/>
							<xs:element minOccurs="0" name="consentDate" type="xs:dateTime"/>
							<xs:element minOccurs="0" name="consentTitle" type="xs:string"/>
							<xs:element minOccurs="0" name="web" type="xs:string"/>
							<xs:element minOccurs="0" name="remarks" type="xs:string"/>
							<xs:element minOccurs="0" name="street" type="xs:string"/>
							<xs:element minOccurs="0" name="street2" type="xs:string"/>
							<xs:element minOccurs="0" name="zipCode" type="xs:string"/>
							<xs:element minOccurs="0" name="city" type="xs:string"/>
							<xs:element minOccurs="0" name="phoneNumber1" type="xs:string"/>
							<xs:element minOccurs="0" name="phoneNumber2" type="xs:string"/>
							<xs:element minOccurs="0" name="country" type="xs:string"/>
							<xs:element minOccurs="0" name="newsletter" type="xs:byte"/>
							<xs:element minOccurs="0" name="currency" type="xs:string"/>
							<xs:element minOccurs="0" name="pricelist" type="xs:string"/>
							<xs:element minOccurs="0" name="tags">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="t" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="customFields">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="f">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="key" type="xs:string" />
														<xs:attribute name="group" type="xs:string" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute type="xs:string" name="id"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="totalItems" type="xs:string" use="optional"/>
			<xs:attribute name="version" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
